<!doctype html>
<html
  lang="en"
  data-ws-project="d9b89ec1-37c0-4cac-9b98-feb82084f804"
  data-ws-last-published="2025-05-28T14:56:13.370Z"
>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/static/app_generated_index-6937cd5a.BQnGFW4_.css"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta
      property="og:url"
      content="https://url/components/gmail-compose-box"
    />
    <title>Untitled</title>
    <meta property="og:title" content="Untitled" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Dule" />
    <meta name="robots" content="noindex, nofollow" />
    <meta property="twitter:card" content="summary_large_image" />
    <link rel="icon" href="/assets/favicon_EP9bGEtkT3FYyhq-309go.ico" />
    <link
      rel="preload"
      href="/assets/Roboto-VariableFont_wdth_wght_MlmPHf_Rk-Y29DzywJlJ7.ttf"
      as="font"
      crossorigin="anonymous"
    />
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "Dule",
        "url": "https://url"
      }
    </script>
  </head>
  <body class="w-body">
    <div class="w-box c185furs">
      <div
        data-ws-tag="div"
        class="w-box czw3bl9 c1v2t0g9 c1htil5o c1apmrlf c1g9ybxz c1sxv1tr c14tf23d covnkgv cfrop6o c12cq4xz c31ousz c1jynm45 c1ff20al"
      >
        <div
          data-ws-tag="div"
          class="w-box czw3bl9 c1v2t0g9 c1htil5o c1apmrlf cnihzhy c1g9ybxz c1sxv1tr cxzdje2 c1d4tnpc cvsn0ja"
        >
          <div
            data-ws-tag="div"
            class="w-box c85iibs cnifkxb cu5dunp c12cq4xz c31ousz cnihzhy c1owaszc cxzdje2 c1tmkahm cewgjod c1sijpmb cranvz2 c1oob24r c18bnprh cvsn0ja czw3bl9 c1dt206q c1gbr0ip c1399d2b"
          >
            <div
              data-ws-tag="div"
              class="w-text-1 c15cbe38 c1uqjlbu cuujc5s c1y4p60v c1x661iv c1v2t0g9 c1htil5o c1apmrlf c1rhmzc cb2srp8 cqc4ua0"
            >
              Dule looks at your calendar and proposes times
            </div>
            <img
              alt=""
              width="64"
              height="16"
              src="/assets/gmail_close__OzsygOe-GvHrwZdACB1n.png"
              class="w-image"
              sizes="100vw"
              srcset="
                /assets/gmail_close__OzsygOe-GvHrwZdACB1n.png  16w,
                /assets/gmail_close__OzsygOe-GvHrwZdACB1n.png  32w,
                /assets/gmail_close__OzsygOe-GvHrwZdACB1n.png  48w,
                /assets/gmail_close__OzsygOe-GvHrwZdACB1n.png  64w,
                /assets/gmail_close__OzsygOe-GvHrwZdACB1n.png  96w,
                /assets/gmail_close__OzsygOe-GvHrwZdACB1n.png 128w
              "
              decoding="async"
              loading="lazy"
            />
          </div>
        </div>
        <div
          data-ws-tag="div"
          class="w-box czw3bl9 c1v2t0g9 c1htil5o c1apmrlf c1g9ybxz c1sxv1tr c14tf23d c662mqj c151erbw c3crr9z cnihzhy"
        >
          <div
            data-ws-tag="div"
            class="w-box czw3bl9 c1v2t0g9 c1htil5o c1apmrlf c1g9ybxz c1sxv1tr c14tf23d cddrvtr c1lcqmgu cjqw3y1 cnihzhy"
          >
            <div
              data-ws-tag="div"
              class="w-box czw3bl9 c1v2t0g9 c1htil5o c1apmrlf cranvz2 c1oob24r c18bnprh cve367y c1g9ybxz c1sxv1tr c1u4lw58 c1lcqmgu cjqw3y1 cnihzhy"
            >
              <div
                data-ws-tag="div"
                class="w-box czw3bl9 c1v2t0g9 c1htil5o c1apmrlf c12y428q c1g9ybxz c1sxv1tr c14tf23d ci11os2 cqc4ua0"
              >
                <div
                  data-ws-tag="div"
                  class="w-text-1 curccg2 c1499c6l cuujc5s c1y4p60v c1x661iv c1v2t0g9 c1htil5o c1apmrlf c1rhmzc cnihzhy"
                >
                  From
                </div>
                <div
                  data-ws-tag="div"
                  class="w-text-1 curccg2 c1499c6l cuujc5s c1y4p60v c1x661iv c1v2t0g9 c1htil5o c1apmrlf c1rhmzc cnihzhy"
                >
                  To
                </div>
                <div
                  data-ws-tag="div"
                  class="w-text-1 curccg2 c1499c6l cuujc5s c1y4p60v c1x661iv c1v2t0g9 c1htil5o c1apmrlf c1rhmzc cnihzhy"
                >
                  Cc
                </div>
              </div>
              <div
                data-ws-tag="div"
                class="w-box czw3bl9 c1v2t0g9 c1htil5o c1apmrlf c1g9ybxz c1sxv1tr c14tf23d cpas8su cnihzhy cqc4ua0"
              >
                <div
                  data-ws-tag="div"
                  class="w-box czw3bl9 c1v2t0g9 c1htil5o c1apmrlf cranvz2 c1oob24r c18bnprh c1bo2tj0 c1sijpmb c4zpoxn c1pgh58k ccd1qtu cgvo7vr cn488dg cc7ng7c c1omq9ew c1rkywbi c1lb691x cpzjdpt"
                >
                  <div
                    data-ws-tag="div"
                    class="w-text-1 c1g1u4k6 c1499c6l cuujc5s c1y4p60v c1x661iv c1v2t0g9 c1htil5o c1apmrlf c1rhmzc"
                  >
                    Dule.ai &lt;hey@dule.ai&gt;
                  </div>
                </div>
                <div
                  data-ws-tag="div"
                  class="w-text-1 c1g1u4k6 c1499c6l cuujc5s c1y4p60v c1x661iv c1v2t0g9 c1htil5o c1apmrlf c1rhmzc cnihzhy"
                >
                  Dwight
                </div>
                <div
                  data-ws-tag="div"
                  class="w-text-1 c1g1u4k6 c1499c6l cuujc5s c1y4p60v c1x661iv c1v2t0g9 c1htil5o c1apmrlf c1rhmzc cnihzhy"
                >
                  Jim
                </div>
              </div>
            </div>
            <div
              data-ws-tag="div"
              class="w-box czw3bl9 c1v2t0g9 c1htil5o c1apmrlf cnihzhy c1g9ybxz c1sijpmb c4zpoxn c1qazeri cpd1j4x cng0z92 cvn26j3 cywv4ki"
            >
              <div
                data-ws-tag="div"
                class="w-text-1 c1g1u4k6 c1499c6l cuujc5s c1y4p60v c1x661iv c1v2t0g9 c1htil5o c1apmrlf c1rhmzc cqc4ua0"
              >
                RE: Bear Safety
              </div>
            </div>
            <div
              data-ws-tag="div"
              class="w-box czw3bl9 c1v2t0g9 c1htil5o c1apmrlf cranvz2 c1oob24r c18bnprh c1g9ybxz c1sxv1tr cj6u5jl c4zpoxn cnihzhy cywv4ki"
            >
              <div
                data-ws-tag="div"
                class="w-box c1g1u4k6 c1499c6l cuujc5s c1y4p60v c1x661iv c1v2t0g9 c1htil5o c1apmrlf c1rhmzc cnihzhy cqc4ua0"
              >
                Some text here to see how things go with this little nugget that
                we imported works.<br /><br />Some more text<br /><br />Cool!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script id="vike_pageContext" type="application/json">
      {
        "_urlRewrite": null,
        "pageId": "/pages/components/gmail-compose-box",
        "routeParams": {},
        "data": {
          "url": "https://url/components/gmail-compose-box",
          "system": { "params": {}, "search": {}, "origin": "https://url" },
          "resources": {},
          "pageMeta": {
            "title": "Untitled",
            "description": "",
            "excludePageFromSearch": true,
            "language": "",
            "socialImageAssetName": "!undefined",
            "socialImageUrl": "",
            "status": "!undefined",
            "redirect": "",
            "custom": []
          }
        }
      }
    </script>
    <script id="vike_globalContext" type="application/json">
      {}
    </script>
    <script
      src="/assets/entries/entry-server-routing.DAKuUa_P.js"
      type="module"
      async
    ></script>
    <link
      rel="modulepreload"
      href="/assets/entries/pages_components_gmail-compose-box.-7q1B2uY.js"
      as="script"
      type="text/javascript"
    /><link
      rel="modulepreload"
      href="/assets/chunks/chunk-CeARo_zU.js"
      as="script"
      type="text/javascript"
    />
  </body>
</html>
